@import '../../../assets/scss/styles.scss';

.navbarMain{


    position: fixed; 
    top: 0;
    right: 0;
    left: $sidebarMainWidth;
    height: $navbarMainHeight;
    background: #F8F9FF;
    // background: #001eca;
    // height: 90px;
    border-bottom: 1px solid #DADADA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 60px;

    >.left{
       display: flex;
       justify-content: center;

       >.separator{
           margin-left: 22px;
           margin-right: 27px;
       }
    }

    >.right{
        display: flex;
        justify-content: center;

        .separator{
            margin-left: 28px;
            margin-right: 21px;
        }
    
    }

    .separator{
        width: 1px;
        height: 40px;
        background-color: #DADADA;
    }

}