.s10{font-size:9px;}
.s12{font-size:11px;}
.s14{font-size:13px;}
.s16{font-size:15px;}
.s18{font-size:17px;}
.s20{font-size:19px;}
.s24{font-size:23px;}
.s28{font-size:27px;}
.s32{font-size:32px;}

.w400{font-weight:400;}
.w600{font-weight:600;}
.w700{font-weight:700;}
.w800{font-weight:800;}