$sidebarMainWidth : 280px;
$navbarMainHeight: 90px;

// Colors
$primary: #017EFA;
$primaryHover: #409dfa;
$primary2 : #007AB5;
$red: #FF0000;
$warning: #CF3A59;
$dark : #1C1F37;    
$green: #30D988;    
$purple: #FD1F9B;
$dark2: #313131;

$cyan: #51CBFF;