@import '../../../../../assets/scss/styles.scss';

.logoTitle{
    position: relative;
    display: flex;
    margin-left: 34px;
    margin-top: 24px;
    align-items: center;

    img{
        width: 34px;
        height: 34px;
    }
    
    h1{
       margin-left: 18px;
       font-weight: 800;
       font-size: 18px;
       line-height: 15px;
       color: #FFFFFF;
    }
}