@import '../../../../../assets/scss/styles.scss';

.menu-title-general {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    color: $skybluecolor;
    margin-left: 34px;
    margin-top: 30px;
}