@import '../../assets/scss/styles.scss';

.navbarMain{
    position: fixed; 
    top: 0;
    right: 0;
    left: $sidebarMainWidth;
    height: $navbarMainHeight;
    background: green;
    height: 90px;
}