@import "../../assets/scss/styles.scss";

.socialStats{

	.title{
		display: flex;
		align-items: flex-end;
		>h1{
			color:#1C1F37;
			line-height: 24px;
		}

		>h2{
			display: flex;
			align-items: center;
			color:#30D988;
			margin-left: 5px;
			>span{
				color:rgba(28, 31, 55, 0.58);
				margin-left:2px;
			}
			>svg{
				width: 6px;
				margin-right: 4px;
			}
		}

		>h3{

		}
	}

	.blocTopChannels{

		.statBar{
			height: 8px;
			border-radius: 100px;
			// background: red;
			
			display:flex;
			gap: 2px;
			overflow: hidden;
			margin-top: 25px;
			margin-bottom: 27px;
	
			>.bar{
				height: 100%;
			}
		}
	
		.statPerSocial{

			>.separator{
				margin-top: 12px;
				margin-bottom: 17px;
				background: rgba(218, 218, 218, 0.5);
				height: 1px;
			}
			
			>.facebookBloc{
				display: flex;	
				align-items: center;
				justify-content: space-between;
				

				>.left{
					display: flex;
					display: flex;
					align-items: center;
					justify-content: space-between;
			
					>.media{
						color: $primary;
						text-transform: capitalize;
						margin-left: 10px;
					}
				}
			
				>.right{
					display: flex;
					justify-content: space-between;
					align-items: center;
					width:150px;
			
					>.visitor{
						color: $dark2;
					}
			
					>.pourcent{
						color: $dark2;
					}
				}
			}

			>.instagramBloc{
				display: flex;
				align-items: center;
				justify-content: space-between;

				>.left{
					display: flex;
					display: flex;
					align-items: center;
					justify-content: space-between;
			
					>.media{
						color: $primary;
						text-transform: capitalize;
						margin-left: 8px;
					}
				}
			
				>.right{
					display: flex;
					justify-content: space-between;
					align-items: center;
					width:150px;
			
					>.visitor{
						color: $dark2;
					}
			
					>.pourcent{
						color: $dark2;
					}
				}
			}

			>.linkedinBloc{
				display: flex;
				align-items: center;
				justify-content: space-between;

				>.left{
					display: flex;
					display: flex;
					align-items: center;
					justify-content: space-between;
			
					>.media{
						color: $primary;
						text-transform: capitalize;
						margin-left: 9px;
					}
				}
			
				>.right{
					display: flex;
					justify-content: space-between;
					align-items: center;
					width:150px;
			
					>.visitor{
						color: $dark2;
					}
			
					>.pourcent{
						color: $dark2;
					}
				}
			}

			>.youtubeBloc{
				display: flex;
				align-items: center;
				justify-content: space-between;

				>.left{
					display: flex;
					display: flex;
					align-items: center;
					justify-content: space-between;
			
					>.media{
						color: $primary;
						text-transform: capitalize;
						margin-left: 9px;
					}
				}
			
				>.right{
					display: flex;
					justify-content: space-between;
					align-items: center;
					width:150px;
			
					>.visitor{
						color: $dark2;
					}
			
					>.pourcent{
						color: $dark2;
					}
				}
			}
		}
	}
}