@import '../assets/scss/styles.scss';

.dashboardLayout {
    background: #F8F9FF;

    .content {
        background: #F8F9FF;
        margin-left: $sidebarMainWidth;
        margin-top: $navbarMainHeight;
    }

}