@import '../assets/scss/styles.scss';

.dashboardLayout {
    background: #f8f9ff;

    >.content {
        background: #f8f9ff;
        margin-left: $sidebarMainWidth;
        margin-top: $navbarMainHeight;
    }

}